@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.movie-card {
    position: relative;
    width: 300px;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
}

.overview {
    width: 50%;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    top: 130px;
    left: 20px;
}

.movie-title {
    font-weight: 700;
}

.release-date {
    font-weight: 400;
    position: absolute;
    top: 60px;
    left: 20px;
}

.vote-average {
    font-weight: 400;
    position: absolute;
    top: 270px;
    left: 30px;
}

.movie-card img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-card-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Roboto', sans-serif;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
    gap: 8px;
}

.movie-card-info > * {
    width: 100%; 
}

.movie-card:hover .movie-card-info {
    opacity: 1;
}

.favorite {
    position: absolute; 
    top: 0px;
    left: 5px; 
    background: none;
    padding: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.favorite:hover {
    background-color: #fff;
}

.see-more {
    border-radius: 30px;
    border: none;
    width: 120px;
    height: 40px;
    position: absolute;
    top: 240px;
}

.see-more:hover {
    border: none;
    background: #212B77;
    color: #fff;
}