body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid white;

}

.navbar h2 {
    color: white;
    font-size: 24px;
    margin: 0;
    margin-left: 70px;

}

.navbar-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar li {
    margin-left: 80px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

a:hover {
    color: #ff6347;
}